.star {
    visibility:hidden;
    font-size:40px;
    cursor:pointer;
}
.star:before {
   content: "\2606";
   position: absolute;
   visibility:visible;
   color: yellow;

}
.star:checked:before {
   content: "\2605";
   position: absolute;
   color: yellow;
}